<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Patient Portal - @ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/mobileCss", "~/Content/mobilefluidcss", "~/Content/portalcss")

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery", "~/bundles/portaljs", "~/bundles/jquerymobile")

        @RenderSection("scripts", required: false)

    </head>
    <body>
        <div data-role="page" data-theme="f" data-ajax="false">
            <div style="text-align:right; background-color:White;">
                <img src="~/Content/images/SiteLogo.jpg" alt="Logo" />
	        </div>
            <div data-role="header" data-theme="b">
                <a href="~/" data-icon="home" data-theme="b">Home</a>
		        
                @if (IsSectionDefined("Header")) {
                    @RenderSection("Header")
                } else {
                    <h1>@ViewBag.Title</h1>
                }

                <a href="@Url.Action("Logout", "Authentication")" data-icon="delete" data-theme="b" class="ui-btn-right">Logout</a>
            </div>
            <div data-role="content">
                @RenderBody()
                
            </div>
        </div>
    </body>
</html>
