@model Spitfire.Mvc.Website.Models.AuthenticationParameters
@using System.Globalization

@{
    ViewBag.Title = "Login - Month Of Birth";
}
@Html.Partial("~/Views/Shared/_HelpPopup.cshtml")

<h2>Please select the Month in which you were born</h2>

@using (Html.BeginForm("MonthOfBirth", "Authentication", null, FormMethod.Post))
{
    <div class="ui-grid-b small-buttons">

        @for (var i = 1; i <= 12; i++)
        {
            <div class="ui-block-a"> 
            
                <button name="monthButton-@i" type="submit" value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i).Substring(0, 3)</button>            

            </div>
            
            i++;
            
            <div class="ui-block-b"> 
            
                <button name="monthButton-@i" type="submit" value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i).Substring(0, 3)</button>            

            </div>
            
            
            i++;
                  
            <div class="ui-block-c"> 
            
                <button name="monthButton-@i" type="submit" value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i).Substring(0, 3)</button>            

            </div>
            
        }
        
    
    </div>

    <div class="container_1">
        <div class="grid_1 left">
            <input type="button" onclick="javascript:showHelp('Month of Birth','Please select the Month in which you were born.', '', false);" data-icon="info" data-iconpos="left" data-inline="true" data-mini="false" value="Help" />
        </div>
    </div>
}