@model IEnumerable<UserData>

@{
    ViewBag.Title = "My Appointments";
}

<h2>My Appointments</h2>

<ul data-role="listview" data-inset="false" data-theme="c" class="appointments">

    @foreach (var appointment in Model.OrderBy(a => a.AppointmentDate))
    {
        <li>
            @appointment.AppointmentDate.ToLongDateString() @appointment.AppointmentDate.ToShortTimeString()
            <br />
            @appointment.Speciality
            <br />
            @appointment.Location
        </li>
    }
</ul>

@Html.ActionLink("Back", "Index", "Home", null, new { data_role = "button", data_inline = "true", data_icon = "arrow-l" })
