@*@model Spitfire.Mvc.Website.Models.Demographic*@
@model Spitfire.Services.Data.DemographicQuestion

@{
    ViewBag.Title = "Edit Demographic";
}

<h2>Update @Model.ResourceValue</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_ajax="false" }))
{
    @Html.ValidationSummary(true)

    if (Model.DemographicQuestionType == DemographicQuestionType.Number || Model.DemographicQuestionType == DemographicQuestionType.Text)
    {
        <div data-role="fieldcontain" class="withDeleteButton">   

            @*@Html.LabelFor(model => model.AnswerValue, Model.QuestionDisplayText)*@
            @Html.TextBoxFor(model => model.DisplayValue, new { data_clear_btn = "true", data_inline = "true", data_theme = "b" })
            @Html.ValidationMessageFor(model => model.DisplayValue)

            <div class="deleteButtonContainer">
                <input type="button" data-icon="arrow-l" data-iconpos="notext" data-inline="true" data-theme="b" />
            </div>

        </div>
    }

    @Html.HiddenFor(model => model.QuestionId)

    if (Model.DemographicQuestionType == DemographicQuestionType.Number)
    {
        
        @Html.Partial("~/Views/Shared/_NumpadPartial.cshtml")

    }
    else if (Model.DemographicQuestionType == DemographicQuestionType.Text)
    {

        @Html.Partial("~/Views/Shared/_KeyboardPartial.cshtml")

    }
    
    <div class="container_12">
        <div class="grid_6">
            @Html.ActionLink("Cancel", "Index", null, new { data_role = "button", data_icon = "delete", data_iconpos = "left", data_inline = "true", data_mini = "false" })             
        </div>	   
        <div class="grid_6 right">
            <input type="submit" data-icon="check" data-iconpos="right" data-inline="true" data-mini="false" value="Update" />
        </div>	   
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
