@model IEnumerable<Spitfire.Services.Data.DemographicQuestion>

@{
    ViewBag.Title = "Patient Portal - Review Demographics";
}

<p data-icon="info" data-role="content">Please review your information. Select an entry to change it. When finished, select Confirm.</p>

<ul data-role="listview" data-inset="true" data-theme="c">
    @foreach (var demographic in Model)
    {
        <li data-icon="@(demographic.Answer == DemographicQuestionAnswer.Yes ? "check" : "edit")" data-theme="@(demographic.Answer == DemographicQuestionAnswer.Yes ? "e" : "c")" >
            <a data-ajax="false" href="@Url.Action("Edit", new { Id = demographic.QuestionId })">
                <span class="field">@demographic.ResourceValue :</span>
                <span class="data">
                @if (String.IsNullOrWhiteSpace(demographic.DisplayValue))
                {
                    @(demographic.Mandatory ? "Select to update" : "")
                    @Html.Raw("&nbsp;")
                }
                else
                {
                    
                    @demographic.DisplayValue
                }
                </span>
            </a>
        </li>
    }
</ul>

<div class="container_12">
    <div class="grid_12 right">
        @Html.ActionLink("Confirm", "Confirm", null, new { data_role = "button", data_icon = "check", data_iconpos = "right", data_inline = "true" }) 
    </div>	   
</div>